*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #AEE9E1;
}
.container{
  width: 40%;
  height: 90px;
  margin: 30vh auto;
  background-color: #FFE7C5;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text{
  font-size: 3rem;
  color: #F49C8B;
}
